body{
    background-color:azure;
    color: white;
}
.container{
    background: hsl(0, 0%, 46%);
    margin: 10px 100px;
}
.border-b{
    border-bottom: 2.5px solid #eaa706;
    width: 100px;
    margin-bottom: 10px;
}
h3{
    color: black;
}
.footer span{
    color:red;
    
}
.footer{
    margin: 10px 100px;
    background-color: #eaa706;
    width: 210px;
}
@media(max-width: 768px){
    .container{
        margin 10px 50px
    }
    
}

